global
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  maxconn 24576

defaults
  mode http
  timeout connect 20s
  timeout client 1m
  timeout server 2m
  timeout tunnel 5m
  timeout client-fin 30s

listen stats
  bind *:8080
  stats enable
  stats admin if TRUE
  stats uri /haproxy-stats
  acl site_dead nbsrv(firehose) lt 1
  monitor-uri /haproxy-healthcheck
  monitor fail if site_dead

frontend firehose
  bind *:80
  maxconn 24000
  default_backend firehose
  option forwardfor except 127.0.0.1

backend firehose
  fullconn 9000
  balance leastconn
  timeout queue 5000
  option httpchk GET /firehose-healthcheck
  option forwardfor header X-Client
  {{range gets "/firehose/upstream/*"}}
  server {{base .Key}} {{.Value}} maxconn 3000 check inter 10s;
  {{end}}
